.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
  border-radius: 4px;
}

.App-link {
  color: #09d3ac;
}

body {
  padding: 2% 5%;
  line-height: 21.6;
}

button {
  color: white;
  background-color: blue;
  width: 186px;
  border-radius: 4px;
}

input {
  color: black;
  font-size: calc(3px + 2vmin);
}

.paper-container {
  padding: 2%;
}
