body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  display: inline;
}

li {
  list-style-type: none;
  display: inline;
  margin: 0 auto;
  padding: 0;
}

.search-bar {
  font-size: calc(3px + 2vmin);
  align-items: baseline;
}

.search-container {
  display: flex;
}

.strong {
  font-size: calc(5px + 2vmin);
}
